<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/forgotPassword.css">
    <title>Bounty</title>

</head>

<body>

    <aside class="o-logo">
        <div id="logo">
            <img src="../assets/logoMT.png" alt="logo bounty" class="responsive">
        </div>
    </aside>
    <main class="o-form">
        <div class="container">
            <div class="h2log">
                <h2>Esqueceu sua senha?</h2>
            </div>
            <div class="formLog">
                <form action="POST">
                    <label class="sr-only" for="email">Digite seu email registrado</label>
                    <input type="text" id="email" placeholder="Digite seu email registrado"> 
                    <br>
                    
                    
    
                    <button>Enviar</button>
                </form>
            </div>
            
        </div>
    </main>

</body>

</html>