<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9ff781d0d0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" href="css/global.css" rel="stylesheet">
    <link type="text/css" href="css/perfil.css" rel="stylesheet">
    <title>Bounty</title>

</head>

<body>
<header class="o-header">
    <nav> 
        <div class="logo"><a href="" class="logoHeader"><img src="../assets/logoP.png" alt=""></a></div>
  
        <form action="#">
          <input type="search" class="search-data" placeholder="Pesquisar" required>
          <button type="submit" ><img src="../assets/searchIcon.png" alt=""></button>
        </form>
        
        <div class="mangue"><h4 class="h1nav">Olá  <%= name %>! <br>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
              </form></div>

        <div class="userarea">
            <a href="" class="logoHeader"><img src="https://source.unsplash.com/90x60/?face" alt=""></a>  
        </div>
      </nav> 
</header>
    <aside class="o-logo">
       <div class="fotoPerfil" >
           
           <img src="https://source.unsplash.com/194x199/?face" alt="">
       </div>
       <div>
           <h2><%= name %></h2><br>
           <h2>Idade :</h2><br>
           <h2>Biográfia</h2><br><br>
                <div class="aBotao">
           <a href="">Histórico</a><br><br>
             </div>
             <div class="aBotao">
                <a href="">Editar Perfil</a><br><br>
                  </div>
                  <div class="aBotao">
                    <a href="">Avaliações</a><br><br>
                      </div>



       </div>
       <div>

       </div>
    </aside>

    <main class="o-form">
        <div class="tituloMBT">
            <h1>Minhas bounties</h1>
            
        </div>
    </main>
    
<footer class="o-footer footer-dark">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Meu perfil</a></li>
                        <li><a href="#">F.A.Q</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Bounty</h3>
                    <p>Faz uma bounty você tambem! ಠ_ಠ</p>
                </div>
                <div class="col item social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <p class="copyright">Bounty © 2021</p>
        </div> 

</footer>

</body>

</html> 