<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <!DOCTYPE html>

    <html lang="pt-BR">
    
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <!-- <link href="filepond.css" rel="stylesheet" /> -->
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
        <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
        <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>
        <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
        <title>Bounty</title>
    
    </head>
    
    <body>
        
         
        <img src="../uploads/images/c6277a1575fc0f60dd6e710f1b6dc348.png" alt="olha lá">
        <img src="../public/assets/Bounty_home_img.jpg" alt="olha lá">
        <p>oi</p>

               

               
    
    
    </body>
    
</html>