body {
    display: grid;
    grid-template-areas:
    "header header header"
    'logo logo logo'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 15% 0% 85%;
    grid-template-rows: auto 85% auto;
}

.o-header {
    grid-area: header;
    background: #2d2d2d  ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
    display: flex;
    min-width: 800px;
    max-width: auto;
}
a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }



.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    
}
 .o-footer {
    grid-area: footer;
    padding: 1rem; 
}
.fcontainer {
    width: 45%;
    height: 95%;
    margin:  auto;
    position: relative;
    right: 3.5rem;
    border: .3rem solid #ababab;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: auto;
    min-width: 20rem;
    padding: 10rem;
    align-self: center;
}
h2{
    position: relative;
    top: .5rem;
    display: flex;
    justify-content: center;
}
h1{
    position: relative;
    display: flex;
    justify-content: center;
}

.fotoBounty {
    display:flex;
    justify-content: center;
    margin-bottom: .5rem;   
}
.boxBounty{
        width: 60rem;
        border-radius: .8rem;
        padding: 5rem;
        margin: 1rem;
        background-color: rgb(72, 75, 75);
}
.boxBounty2{
    width: 20rem;
    border-radius: .8rem;
    padding: 2rem;
    margin: 1rem;
    background-color: rgb(72, 75, 75);
    display: flex;
    margin-left: 33%;
}
.boxBounty3{
    width: 60rem;
    border-radius: .8rem;
    padding: 4rem;
    margin: 1rem;
    background-color: rgb(72, 75, 75);
}
