body {
    display: grid;
    grid-template-areas:
    "header header header"
    'logo logo form'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 5% 65% 30%;
    grid-template-rows: auto auto auto;
}

.o-header {
    grid-area: header;
    background: #2d2d2d  ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    /* border: 1px solid black; */
    display: flex;
    min-width: 800px;
    max-width: auto;
}
a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }
.o-form {
        grid-area: form;
        background: #2d2d2d;
        color: #ababab;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
 .o-footer {
    grid-area: footer;
    padding: 1rem; 
}
.fcontainer {
    width: 45%;
    height: 98%;
    margin:  auto;
    position: relative;
    border: .3rem solid #ababab;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: auto;
    min-width: 20rem;
    padding: 10rem;
    align-self: center;
}
h2{
    position: relative;
    top: .5rem;
    display: flex;
    justify-content: center;
}
h1{
    position: relative;
    display: flex;
    justify-content: center;
}
.tituloComentario{
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 35rem;
}

.fotoBounty {
    display:flex;
    justify-content: center;
    margin-bottom: .5rem;   
}
.boxBounty{
        width: 100%;
        border-radius: .8rem;
        padding: 5%;
        margin: 1%;
        background-color: rgb(72, 75, 75);
}
.boxBounty2{
    width: 30%;
    border-radius: .8rem;
    padding: 1%;
    /* margin: 1%; */
    background-color: rgb(72, 75, 75);
    display: flex;
    text-align: center;
}
.boxBounty3{
    width: 100%;
    border-radius: .8rem;
    padding: 4%;
    margin: 1%;
    background-color: rgb(72, 75, 75);
}
.boxComentario{
    width: 80%;
    height: 40%;
    border-radius: .8rem;
    padding: 5%;
    margin: 1%;
    background-color: rgb(72, 75, 75);
    font-size: medium;
    margin-right: 60%;
    
}
.iBotao{
    width: 11.5rem;
    height: 2.5rem;
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    /* text-align: center; */
    justify-content: center;
    position: relative;
    margin-top: 1%;
    margin-bottom: -.1rem;
    border-radius: .8rem;
    align-items: center;
    font-size: large;
    
    
}



.fBotao{
    width: 11.5rem;
    height: 2.5rem;
    background-color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    /* text-align: center; */
    justify-content: center;
    position: relative;
    margin-top: 1%;
    margin-bottom: -.1rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    font-size: large;
}

.eBotao{
    /* width: 8.5%;
    height: 25%; */
    background-color: #0e0d0db0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    position: relative;
    margin-top: 1%;
    margin-bottom: -.1rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
}

.xBotao{
    width: 11.5rem;
    height: 2.5rem;
    background-color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    /* text-align: center; */
    justify-content: center;
    position: relative;
    margin-top: 1%;
    margin-bottom: -.1rem;
    border-radius: .8rem;
    display: inline-block;
    align-items: center;
    font-size: large;

}
.inputComentario{
    width: 45.3rem;
    height: 2.5rem;
    font-size: medium;
    display: flex;
    margin-right: 33.5rem;
    


}