body {
    display: grid;
    grid-template-areas:
    "header header header"
    'logo logo logo'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 15% 0% 85%;
    grid-template-rows: auto 85% auto;
}

.o-header {
    grid-area: header;
    background: #2d2d2d  ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
    display: flex;
    min-width: 800px;
    max-width: auto;
}
a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }



.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    
}
 .o-footer {
    grid-area: footer;
    padding: 1rem; 
}
.fcontainer {
    width: 45%;
    height: 98%;
    margin:  auto;
    position: relative;
    right: 3.5rem;
    border: .3rem solid #ababab;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
    max-width: auto;
    min-width: 20rem;
    /* background-color: blue; */
    padding: 10rem;
    align-self: center;
    /* justify-content: space-around; */



}
.input-forms{
    border: .2rem solid black;
    padding: 1%;
    width: 30rem;
    position: relative;
    top: 1%;
    height: 5rem;
    font-size: medium;
    display: flex;
}
.input-forms2{
    border: .2rem solid black;
    padding: 1%;
    width: 20rem;
    position: relative;
    top: 1%;
    height: 5rem;
    left: 20%;
    display: flex;
    font-size: medium;
    
}
.input-forms3{
    border: .2rem solid black;
    padding: 1%;
    width: 30rem;
    height: 8rem;
    position: relative;
    top: 1%;  
    display: flex; 
    font-size: medium;
}
.input-forms4{
    border: .2rem solid black;
    padding: 1%;
    width: 30rem;
    height: 10rem;
    position: relative;
    top: 1%;  
    display: flex; 
    font-size: medium;
}

h2{
    position: relative;
    top: 1rem;
}
.sBotao{
    height: 3rem;
    background-color: #ababab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    position: relative;
    margin-top: 1%;
    width: 15rem;
    margin-left: 30%;

}
.sBotao{
    border-radius: .8rem;
    font-size: large;
}

.aBotao{
    width: 20%;
    background-color: #ababab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    position: relative;
    margin-top: 1%;
    margin-bottom: -.1rem;
    width: 15rem;
    
}
.carrodoovo{
    display: flex;
    justify-content: space-around;
}

.carrodoleite{
    display: flex;
    justify-content: space-around;
}

.aBotao{
    border-radius: .8rem;
    height: 5%;
    font-size: large;
}
input{
    border-radius: .8rem;
    /* height: 5rem; */
    font-size: large;

}
.fotoBounty {
    height: auto; 
    width: auto; 
    max-width: 110px; 
    max-height: 110px;
   margin-bottom: 1%;
    
}

.alterarFoto{
    width: 25%;
    background-color: #ababab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    position: relative;
    margin-bottom: -.1rem;
    height: auto;
    
}
.tituloBT{
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

