body {
    display: grid;
    grid-template-areas:
    "header header header"
    'logo logo logo'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 15% 0% 85%;
    grid-template-rows: auto 85% auto;
}

.o-header {
    grid-area: header;
    background: #2d2d2d  ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
    display: flex;
}
a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }



.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    
}


 .o-footer {
    grid-area: footer;
    padding: 1rem; 
    /* background: purple ; */
}
.fcontainer {
    width: 80rem;
    height: 80rem;
    margin:  auto;
    position: relative;
    right: 3.5rem;
    border: .3rem solid #ababab;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;


}
.input-forms{
    border: .2rem solid black;
    padding: 0 1.6rem;
    width: 60rem;
    position: relative;
    left: 10rem;
    top: 1rem;
}
h2{
    position: relative;
    top: 1rem;
}

  .aBotao{
    width: 19rem;
    background-color: #ababab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: large;
    text-align: center;
    position: relative;
    left: 30.2rem;
    bottom: 9rem;
    
}
.aBotao, input{
    border-radius: .8rem;
    height: 7rem;
    font-size: large;
}
.fotoPerfil {
    display:flex;
    justify-content: center;
    margin-bottom: 10rem;
    
}
