body {
    display: grid;
    grid-template-areas:
    "header header header"
    'form form form'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 20% 80% 0%;
    grid-template-rows: auto 85% auto;
}

.o-header {
    grid-area: header;
    background: #2d2d2d  ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
    display: flex;
    min-width: 800px;
    max-width: auto;
}
a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }



.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    
}
 .o-footer {
    grid-area: footer;
    padding: 1rem; 
}
.h1faq{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 2.6%;
    
}

h2{
    position: relative;
    top: 1rem;
}
.h2faq{
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 25%;
    height: 65%;
}
.contato{
    display: flex;
justify-content: center;

}
