body {
    display: grid;
    grid-template-areas:
    "header header header"
    'form form form'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: auto auto auto;
}

.o-header {
    grid-area: header;
    background: #2d2d2d ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
}
h2{
    position: relative;
    top: 1rem;
    margin-left: 1rem;
}

a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }

.aBotao:hover {
    background-color: rgba(20, 20, 20, 0.747);
    box-shadow: 0px 15px 20px rgba(245, 246, 247, 0.219);
    color: #fff;
    transform: translateY(-10px);
  }
  .linha_vertical{
    transform: rotate(270deg);
    width: 15%;
    justify-content: last baseline;
    margin-top: 4%;
}
.imgBounty{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.fotoHeader {
    height: auto; 
    width: auto; 
    max-width: 90px; 
    max-height: 60px;

}
.bBotao{
    width: 8.5%;
    height: 25%;
    background-color: #0e0d0db0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    position: relative;
    margin-top: 1%;
    margin-bottom: -.1rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
}

.bBotao:hover {
	background: #6aa7e4;
}

.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    display: inline-table;
    
}
.tituloMBT{
    
    display: flex;
    justify-content: center;
    color: #FDFDFD;
    
     
}
.boxFavoritos{
    width: 61.8%;
    border-radius: .8rem;
    padding: 4%;
    margin: 1rem;
    background-color: rgb(72, 75, 75);
    display: flex;
    margin-left: 20%;
}

 .o-footer {
    grid-area: footer;
    padding: 1rem; 
}