* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* Centralizar caixa de pesquisa*/



/*<---------------/main_content_home----------------------------->*/

.main_content_home{ /*Area que abrange o botão de criar e o restante da pagina */
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display:flex;
    justify-content:center;
    /* flex-direction:row; */
    /* justify-content:center; */
    /* align-items:center; */
    
}

button#create{
  /* margin: 10px;
  /* padding: 10px; */
    justify-content:center;
    position:absolute; 
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);

}
.create_bounty{
  display: flex;
  align-items: center;

}

.area_bounty{ /*Area do retangulo */
  width:900px;
  height:200px;
  background:rgba(0, 0, 255, 0.473);
  border-color: black, ;
  border: 1px solid;
  display: flex;
  justify-content:center;
  /* flex-direction:row; */
  padding: 10px;
  margin: 10px;

}

.index_bounty{ /*Scroll da pagina inicial */
  /* overflow: auto; */
  align-items:center;
  margin: 120px;
}

.vl{
  border-left: 2px solid green;
  height: 200px;
  position: fixed;
  left: 57%;
  margin-left: 550px;
  top: 0;
  
}




























/*<---------------!button_css----------------------------->*/

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }




  .o-footer {
    grid-area: footer;
    padding: 1rem; 
    /* background: purple ; */
}