/* ------------------------------------------------HEADER CSS-------------------------------------------*/
.o-header {
    grid-area: header;
    background: #2d2d2d;
    
} 

.o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
}

a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
}

/* -------------------------------------------------BODY CSS--------------------------------------------*/
body {
    display: grid;
    grid-template-areas:
    "header header header"
    'form form form'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 0% 100% 0%;
    grid-template-rows: auto auto auto;
}

.createBounty{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    right: 30px;
    justify-content: center;
    margin: auto;
    margin-top: 1%;

}


.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    display: inline-table;
    
}

.rectangleInfo{
    width: 61.8%;
    height: 20%;
    padding: 2%;
    /* height: 25%; */
    margin: 2rem;
    background-color: rgb(72, 75, 75);
    /* rgb(111, 114, 114); */
    display: flex;
    margin-left: 20%;
    border-radius: .8rem;
}


.linha_vertical{
    transform: rotate(270deg);
    width: 15%;
    justify-content: last baseline;
    margin-top: 4%;
}

.imgBounty{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-bottom: 1%;
}
.bBotao{
    width: 8.5%;
    height: 25%;
    background-color: #0e0d0db0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
    position: relative;
    margin-top: 1%;
    margin-bottom: -.1rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
}
/* -------------------------------------------------FOOTER CSS------------------------------------------*/

.o-footer {
    grid-area: footer;
    padding: 1rem; 
}
.h1titulo{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}