body {
    display: grid;
    grid-template-areas:
    "header header header"
    'logo logo form'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 15% 0% 85%;
    grid-template-rows: auto 85% auto;
}

.o-header {
    grid-area: header;
    background: #2d2d2d ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
}
.fotoPerfil {
    display:flex;
    justify-content: center;
    margin-top: .5rem;
}
h2{
    position: relative;
    top: 1rem;
    margin-left: 1rem;
}

a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }

.aBotao:hover {
    background-color: rgba(20, 20, 20, 0.747);
    box-shadow: 0px 15px 20px rgba(245, 246, 247, 0.219);
    color: #fff;
    transform: translateY(-10px);
  }
.aBotao{
    margin-bottom: 10%;
}


.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    
}
.tituloMBT{
    
    display: flex;
    justify-content: center;
    color: #FDFDFD;
    
     
}
.boxBounty{
    width: 61.8%;
    height: 20%;
    border-radius: .8rem;
    padding: 2%;
    margin: 1rem;
    background-color: rgb(72, 75, 75);
    display: flex;
    margin-left: 20%;
}
.boxBio{
    width: 90%;
    height: 80%;
    border-radius: .8rem;
    padding: 5%;
    margin: 1rem;
    background-color: rgb(72, 75, 75);
    display: flex;
    margin-bottom: 10%;
    text-align: justify;
}


 .o-footer {
    grid-area: footer;
    padding: 1rem; 
}
.linha_vertical{
    transform: rotate(270deg);
    width: 13%;
    justify-content: last baseline;
    margin-top: 8%;
}
.imgBounty{
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.bountytitulo{
    display: flex;
    justify-content: center;
}