body {
    display: grid;
    grid-template-areas:
    "logo logo form";
    /* gap: 1rem; */
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 100vh;
    font-family: 'Arvo', serif;
}

/* .o-header {
    grid-area: header;
    padding: 1.5rem;
} */
  
.o-logo {
    grid-area: logo;
    color: #FDFDFD;
    display: flex;
}

.o-logo #logo{
    display: grid;
    background: #2d2d2d;
    width: 100%;


}

.responsive{
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: center;
}
  
.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
}

.container{
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
    border: .3rem solid #ababab;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}

h2{
    position: relative;
    bottom: 10rem; 
}

main{
    display: flex;
    align-items: center;
}

#newPassword, #repeatNewPassword{
    border: .2rem solid black;
    padding: 0 1.6rem;
    width: 25rem;
    position: relative;
    left: 0rem;
    top: -1.5rem;
    margin: .1rem;
}

button{
    width: 19.3rem;
    background-color: #ababab;
    color: black;
    font-size: large;
    text-align: center;
    position: relative;
    left: .2rem;
    bottom: -1rem;
    width: 24.6rem;
}

button, input{
    border-radius: .8rem;
    height: 5rem;
}