body {
    display: inherit;
    grid-template-areas:
    "header header header"
    "form form form"
    "rodape rodape rodape";
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 10% 80% 10%;
    
}

.o-header {
    grid-area: header;
    padding: 0 rem;
    background: red;
    display: flex;
} 
.o-form {
    grid-area: form;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgb(173, 173, 173);
    align-items: center;   
} 
.container{
    background: rgb(193, 212, 541);
    border-style: double;
    width: 80%;
    height: 80%;
    border-radius: 50px;
    display: grid;
    padding-bottom: 2%;
    padding-left: 2%;
}
.o-rodape {
    grid-area: rodape;
    padding: 0 rem;
    background: blue;
    
} 

.faq{
    justify-self: center;
    margin-top: 2%;

}