body {
    display: grid;
    grid-template-areas:
    "logo logo form";
    /* gap: 1rem; */
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 100vh;
}

/* .o-header {
    grid-area: header;
    padding: 1.5rem;
} */
  
.o-logo {
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    /* background: url(/assets/logoMT.png) no-repeat center/contain; */
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
    display: flex;
    justify-content: space-evenly;
}

.o-logo #logo{
    position:  relative;
    top: 17rem;
}
  
.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
}
  
/* .o-footer {
    grid-area: footer;
    padding: 1rem;
} */

.container{
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
    border: .3rem solid #ababab;
    border-radius: .8rem;
}

main{
    display: flex;
    align-items: center;
}

input{
    border: .2rem solid black;
    padding: 0 1.6rem;
}

button{
    width: 15.3rem;
    background-color: #ababab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: large;
    text-align: center;
}

button, input{
    border-radius: .8rem;
    height: 5rem;
}