body {
    display: grid;
    grid-template-areas:
    "logo logo form";
    /* gap: 1rem; */
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 100vh;
}

/* .o-header {
    grid-area: header;
    padding: 1.5rem;
} */
  
.o-logo {
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    /* background: url(/assets/logoMT.png) no-repeat center/contain; */
    /* margin-left: 1rem; */
    /* margin-right: 1rem; */
}

.o-logo #logo{
    display: flex;
    position:  relative;
    top: 25vh;
    left: 10vw;
}

#responsive{
    width: 75%;
    height: auto;
}
  
.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
}

.container{
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
    position: relative;
    border: .3rem solid #ababab;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}

h2{
    position: relative;
    top: -5rem;
}

main{
    display: flex;
    align-items: center;
}

 #password, #email{
    border: .2rem solid black;
    padding: 0 1.6rem;
    width: 20rem;
    position: relative;
    left: 2.5rem;
    top: 1.5rem;
}

#lembrar-user, #esqueceu{
    margin: 2rem;
}

#esqueceu{
    position: relative;
    bottom: .2rem;
}

#lembrar-user{
    position: relative;
    bottom: .2rem;
}

.checkelembrar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    width: 19.3rem;
    background-color: #ababab;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: large;
    text-align: center;
    position: relative;
    left: 3rem;
    bottom: 2.9rem;
}

button, input{
    border-radius: .8rem;
    height: 5rem;
}