body {
    display: grid;
    grid-template-areas:
    "header header header"
    'logo logo form'
    "footer footer footer";
    /* gap: 1rem; */
    grid-template-columns: 15% 0% 85%;
    grid-template-rows: 10% 85% 5%;
}

.o-header {
    grid-area: header;
    background: #2d2d2d ;
    
} 

 .o-logo { 
    grid-area: logo;
    color: #FDFDFD;
    background: #2d2d2d;
    border: 1px solid black;
}
.fotoPerfil {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

a {
    display: block;
    width: 113px;
    margin: auto; 
    font-size: large;
    }

.aBotao:hover {
    background-color: rgba(20, 20, 20, 0.747);
    box-shadow: 0px 15px 20px rgba(29, 69, 199, 0.219);
    color: #fff;
    transform: translateY(-10px);
  }


.o-form {
    grid-area: form;
    background: #2d2d2d;
    color: #ababab;
    
}
.tituloMBT{
    
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #FDFDFD;
    border: 1px solid black;
     
}

 .o-footer {
    grid-area: footer;
    padding: 1rem; 
    background: purple ;
}